<!--PROJECT SELECTION MENU-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!--Home option-->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!--Projects by price/rating/category options-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-projects-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Projects
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-projects-link">
                <a href="{% url 'products' %}" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
            </div>
        </li>

        <!--Electronics Projects Options-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="electronics-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electronics-link">
                <a href="{% url 'products' %}?category=circuits,sensors,leds,electrics" class="dropdown-item">Circuits</a>
                <a href="{% url 'products' %}?category=gadgets,tools,sensors" class="dropdown-item">Gadgets</a>
                <a href="{% url 'products' %}?category=animatronics,motors,sensors" class="dropdown-item">Robotics</a>
                <a href="{% url 'products' %}?category=circuits,sensors,leds,electrics,gadgets,tools,animatronics,motors" class="dropdown-item">All </a>
            </div>
        </li>

        <!--Bricolage Projects Options-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="crafts-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crafts and Workshop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="crafts-link">
                <a href="{% url 'products' %}?category=craft,furniture" class="dropdown-item">For Home</a>
                <a href="{% url 'products' %}?category=garden" class="dropdown-item">For Outside</a>
                <a href="{% url 'products' %}?category=3dprint" class="dropdown-item">3D Printing</a>
                <a href="{% url 'products' %}?category=craft,furniture,garden,3dprint" class="dropdown-item">All</a>
            </div>
        </li>

        <!-- Other Projects Options-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="other-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Special Deals</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>
    </ul>
</div>